<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
   <div class="header">
      <h2><a href="/">Surf World</a></h2>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
      <h5><a href="/bverkindere@gmail.com">Contact us | CGV | Mentions légales |</a></h5>
    </div>
  </body>
</html>
